*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
.dash{
    border-color: black;
    border-style: dashed;
}
.white-dash{
    border-color: white;
    border-style: dashed;
}
.sect-size{
    height: 300px;
    width: 50%;
}
.s-flex{
    display: flex;
}
.l-flex{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-container{
    background-color: azure;
    display: flex;
    justify-content:space-around;
}
.s-cont{
    background-color: yellow;
    display: flex;
    justify-content:space-around;
}
.logo{
    padding: 10px;
}
.sect1{
    background-color: blue;
}
.sect1 > div{
    background-color: pink;
}
.sect2{
    background-color: white;
}
.bg-pink{
    background-color: pink;
}
.bg-blue{
    background-color: blue;
}
.bg-turq{
    background-color: turquoise;
}
.w-60{
    width: 60%;
}
.w-40{
    width: 40%;
}
.w-33{
    width: 33%;
}
.w-67{
    width: 67%;
}
.w-15{
    width: 15%;
}
.sect3{
    background-color: lightslategrey;
}
.sect4{
    background-color: white;
}
.sect5{
    background-color: lightslategrey;
}
.sect5 > div{
    background-color: green;
}
footer{
    background-color: darkslategrey;
}
.buttons{
   background-color: aqua;
}