*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
.dash{
    border-color: black;
    border-style: dashed;
}
.sect-size{
    height: 300px;
    width: 50%;
}
.l-flex{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: yellow;
    display: flex;
    justify-content:space-around;
}
.sez1{
    background-color: blue;
}
.sez1 > div{
    background-color: pink;
}
.sez2{
    background-color: white;
}
.sez2 > div{
    display: flex;
}
.bg-pink{
    background-color: pink;
}
.bg-blue{
    background-color: blue;
}
.bg-turq{
    background-color: turquoise;
}
.w-60{
    width: 60%;
}
.w-40{
    width: 40%;
}
.w-33{
    width: 33%;
}
.w-67{
    width: 67%;
}
.sez3{
    background-color: lightslategrey;
}
.sez3 > div{
    display: flex;
}
.sez4{
    background-color: white;
}
.sez4 > div{
    display: flex;
}
.sez5{
    background-color: lightslategrey;
}
.sez5 > div{
    background-color: green;
}
footer{
    background-color: black;
}
footer > div{
    display: flex;
}
.buttons{
   background-color: aqua; 
}